.app-controls {
  position: absolute;
  top: 10px;
  right: 30px;
  display: flex;
  align-items: center;
}

.app-controls__buttons {
  margin-right: 15px;
}

.app-controls__button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;

  width: 20px;
  height: 24px;
  margin: 2px 8px;
  background-image: url(./sprite.png);
}

.app-controls__download-button {
  background-position: 0 0;
}

.app-controls__download-button:hover {
  background-position: -20px 0;
}

.app-controls__upload-button {
  background-position: 0 -24px;
}

.app-controls__upload-button:hover {
  background-position: -20px -24px;
}

.app-controls__new-button {
  background-position: 0 -48px;
}

.app-controls__new-button:hover {
  background-position: -20px -48px;
}

.app-controls__link {
  font-family: var(--main-font);
  font-size: 11pt;
  color: var(--base-md);
  text-decoration: none;

  display: inline-block;
  margin: 0 7px;
}

.app-controls__link:hover {
  color: var(--base-dk);
}

.app-controls__source-link,
.app-controls__bug-link {
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url(./sprite.png);
  margin-left: 12px;
  /* We have provided text for the link so that it is accessible to screen
  readers, but we hide it here */
  color: transparent !important;
  font-size: 1pt;
}

.app-controls__source-link {
  background-position: -40px 0;
}

.app-controls__bug-link {
  background-position: -64px 0;
}

.app-controls__source-link:hover,
.app-controls__bug-link:hover {
  background-position-y: -24px;
}

.app-controls__selector {
  outline: none;
  font-family: var(--main-font);
  font-size: 9pt;
  width: 80px;
  margin: 0 7px;
  color: var(--base-md);

  cursor: pointer;
}

.app-controls__selector:hover {
  color: var(--base-dk);
}
