.arrow {
  fill: none;
  stroke: var(--base-dk);
  stroke-width: 1.3;
}

.arrow--editable.arrow {
  stroke: var(--base-dk);
  stroke-width: 1.3;
}

.arrow--active {
  stroke: var(--active-md);
  stroke-width: 1.6;
}
