.transition-detail {
  display: inline-flex;
  outline: none;
  border: 1px solid transparent;
  padding: 0.1em;
}

.transition-detail--active {
  border: 1px solid var(--active-md);
}

/*
 * The input boxes.
 */
.transition-detail__input {
  outline: none;
  border: none;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  width: 1em;
  text-align: center;

  font-size: 10pt;
  color: var(--base-md);
  font-family: var(--code-font);

  transition: border 0.2s, background-color 0.2s, color 0.2s;
}

.transition-detail:hover .transition-detail__input--editable,
.transition-detail__input--editable.transition-detail__input--focus {
  border-bottom: 1px solid var(--primary-md);
  color: var(--base-dk);
}

.transition-detail__input--editable.transition-detail__input--focus {
  background-color: var(--primary-lt);
}

.transition-detail__input--error {
  background-color: var(--error-md) !important;
  border-bottom-color: var(--error-md) !important;
  color: var(--bg) !important;
}

.transition-detail__input::placeholder {
  color: var(--base-lt);
}

.transition-detail__input--editable.transition-detail__input--focus::placeholder {
  color: transparent;
}

.transition-detail__input--error::placeholder {
  color: var(--bg) !important;
}

/*
 * Tape direction selector.
 */
.transition-detail__selector {
  outline: none;
  border: none;
  background-color: transparent;

  font-size: 10pt;
  color: var(--base-md);
  font-family: var(--code-font);
}

.transition-detail:hover .transition-detail__selector--editable,
.transition-detail__selected--editable.transition-detail__selector--focus {
  color:var(--base-dk);
}

/*
 * Input separators ("/", ",").
 */
.transition-detail__separator {
  padding: 0 4px;
  font-size: 12pt;
  font-family: var(--main-font);
  color: var(--base-md);
}

/*
 * The delete button.
 */
.transition-detail__button {
  outline: none;
  border: none;
  visibility: hidden;
  margin-left: 0.7em;
  transform: translateY(2px);

  width: 16px;
  height: 16px;
  background-image: url('./delete-button.png');
  background-color: transparent;

  cursor: pointer;
}

.transition-detail:hover .transition-detail__button {
  visibility: unset;
}

.transition-detail__button:hover {
  background-image: url('./delete-button--hover.png');
}
