/*
 * The details container and its various "stances".
 */
.transition-details {
  display: inline-flex;
  flex-direction: column;
}

.transition-details--top-left {
  transform: translate(2px, 2px);
}

.transition-details--top-right {
  transform: translate(calc(-100% - 2px), 2px);
}

.transition-details--bottom-left {
  transform: translate(2px, calc(-100% - 2px));
}

.transition-details--bottom-right {
  transform: translate(calc(-100% - 2px), calc(-100% - 2px));
}

/*
 * "add new" detail button.
 */
.transition-details__add-button {
  visibility: hidden;

  border: none;
  outline: none;
  width: 79px;
  padding-top: 4px;
  padding-bottom: 4px;

  font-size: 8pt;
  font-family: var(--main-font);
  color: var(--base-md);
  font-style: italic;
  cursor: pointer;
  background-color: transparent;

  transition: background-color 0.2s, color 0.2s;
}

.transition-details:hover .transition-details__add-button {
  visibility: unset;
}

.transition-details__add-button:hover {
  background-color: var(--primary-lt);
  color: var(--base-dk);
}
