.sim-controls {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 35px;
  display: flex;
  align-items: center;
}

.sim-controls__button {
  outline: none;
  border: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url(./sprite.png);
  --sprite-x: 0;
  --sprite-y: 0;
  background-position: var(--sprite-x) var(--sprite-y);
  cursor: pointer;
  margin: 0 12px;
}

.sim-controls__reset-button {
  margin-left: 151px;
  --sprite-y: -60px;
}

.sim-controls__play-button {
  --sprite-y: 0px;
}

.sim-controls__pause-button {
  --sprite-y: -20px;
}

.sim-controls__step-button {
  --sprite-y: -40px;
}

.sim-controls__button:hover {
  --sprite-x: -20px;
}

.sim-controls__button:disabled {
  --sprite-x: -40px;
  cursor: unset;
}

.sim-controls__speed-control {
  width: 80px;
  margin-left: 60px;
  display: flex;
  align-items: center;
}

.sim-controls__speed-control input {
  cursor: pointer;
}

.sim-controls__speed-control-label {
  font-family: var(--main-font);
  font-size: 10pt;
  color: var(--base-lt);
  margin: 0 10px;
}

.sim-controls__speed-control:hover .sim-controls__speed-control-label {
  color: var(--base-md);
}
