/*
 * The tape container
 */
.tape {
  height: 60px;
  border: none;

  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);

  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.tape__cells {
  display: flex;
  height: 85%;
  position: absolute;
}

/*
 * Individual cells and padding
 */
.tape__cell,
.tape__padding-left,
.tape__padding-right {
  border: 1px solid var(--base-lt);
  border-left: none;
  box-sizing: border-box;
}

.tape__cell {
  outline: none;
  background-color: transparent;

  text-align: center;
  font-size: 28pt;
  font-family: var(--code-font);
  color: var(--base-md);

  scroll-snap-align: center;

  transition: color 0.2s, border 0.2s, background-color 0.2s;
}

.tape__cell--editable:hover, .tape__cell--editable:focus {
  color: var(--base-dk);
}

.tape__padding-right {
  border-right: none;
}

.tape__cell--active {
  background-color: var(--active-md);
  color: var(--base-dk);
}

.tape-feed {
  width: 8px;
  height: 57px;
  bottom: 86px;
  background-image: url(./sprite.png);
}

.tape-feed__left {
  background-position: 0 0;
}

.tape-feed__right {
  background-position: -8px 0;
}

.tape-reader {
  width: 35px;
  height: 72px;
  bottom: 79px;
  background-image: url(./sprite.png);
  background-position: -16px 0;
}

.tape-reader--active {
  background-position: -51px 0;
}
