.control-point {
  fill: var(--text-dark);
  cursor: pointer;

  transition: fill 0.2s;
}

.control-point:hover {
  fill: var(--blue-grey-medium);
}

.control-point:active {
  fill: var(--purple-medium);
}
