.control-point {
  fill: var(--base-dk);

  transition: fill 0.2s;
}

.control-point--editable {
  cursor: pointer;
}

.control-point--editable:hover {
  fill: var(--primary-dk);
}

.control-point--editable:active {
  fill: var(--primary-md);
}
