.control-point {
  fill: var(--base-dk);

  transition: fill 0.2s;
}

.control-point.control-point--editable {
  fill: var(--base-dk);
  cursor: pointer;
}

.control-point--editable:hover {
  fill: var(--base-md);
}

.control-point--editable:active {
  fill: var(--primary-md);
}

.control-point--active {
  fill: var(--active-md);
}
