/*
 * I've reserved this file for CSS resets, and any global styles. Many
 * components have their own style file that is specific to their needs.
 */

:root {
  --code-font: 'Roboto Mono', monospace;
  --main-font: 'Roboto', sans-serif;
  --bg: #fff;
  --grey-dark: #33373d;
  --grey-medium: #b1b6bd;
  --grey-light: #dcdde0;
  --red-medium: #f56f42;
  --blue-grey-medium: #626770;
  --purple-medium: #995fd4;
  --purple-light: #e4d1ff;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: auto;
}
