/*
 * The basic, unadorned node.
 */
.node {
  fill: #fff;
  stroke: var(--text-dark);

  cursor: pointer;

  transition: stroke 0.2s, fill 0.1s;
}

.node:hover {
  stroke: var(--blue-grey-medium);
}

.node:active {
  stroke: var(--purple-medium);
}

/*
 * When a node is selected, we change its fill.
 */
.node--selected {
  fill: var(--purple-light);
}

/*
 * Two embellishments: an arrow, and a concentric circle.
 */
.node__start-arrow-line {
  stroke: var(--text-dark);
  transition: stroke 0.2s;
}

.node__start-arrow-head {
  stroke: none;
  fill: var(--text-dark);
  transition: fill 0.2s;
}

.node:hover ~ g .node__start-arrow-line {
  stroke: var(--blue-grey-medium);
}

.node:hover ~ g .node__start-arrow-head {
  fill: var(--blue-grey-medium);
}

.node:active ~ g .node__start-arrow-line {
  stroke: var(--purple-medium);
}

.node:active ~ g .node__start-arrow-head {
  fill: var(--purple-medium);
}

.node__final-circle {
  fill: none;
  stroke: var(--text-dark);
  transition: stroke 0.2s;
}

.node:hover ~ .node__final-circle {
  stroke: var(--blue-grey-medium);
}

.node:active ~ .node__final-circle {
  stroke: var(--purple-medium);
}

/*
 * The node's "mnemonic" input box.
 */
.node__mnemonic-input {
  outline: none;
  border: none;
  border-bottom: 1px solid transparent;
  background-color: transparent;

  width: 2.6em;
  text-align: center;
  color: var(--text-light);
  font-family: var(--code-font);
  font-size: 10pt;

  transition: color 0.2s, border 0.2s, background-color 0.2s;
}

.node__mnemonic-input:hover,
.node__mnemonic-input:focus {
  border-bottom: 1px solid var(--purple-medium);
  color: var(--text-dark);
}

.node__mnemonic-input:focus {
  background-color: var(--purple-light);
}
