/*
 * To display a node, we use a sprite sheet containing a number of images laid
 * out in a grid. To select a particular image (say, the image of a selected,
 * final node), we simply set the "background-position" property accordingly.
 */
.node {
  width: 42px;
  height: 44px;
  background-image: url(./sprite.png);
  background-position: 0 0;
}

.node--editable {
  cursor: pointer;
}

.node--editable:hover {
  background-position: -44px 0;
}

.node--editable:active,
.node--editable.node--selected {
  background-position: -88px 0;
}

.node--editable.node--final {
  background-position: 0 -44px;
}

.node--editable.node--final:hover {
  background-position: -44px -44px;
}

.node--editable.node--final:active,
.node--editable.node--final.node--selected {
  background-position: -88px -44px;
}

.node--editable.node--start {
  background-position: 0 -88px;
}

.node--editable.node--start:hover {
  background-position: -44px -88px;
}

.node--editable.node--start:active,
.node--editable.node--start.node--selected {
  background-position: -88px -88px;
}

.node--editable.node--start.node--final {
  background-position: 0 -132px;
}

.node--editable.node--start.node--final:hover {
  background-position: -44px -132px;
}

.node--editable.node--start.node-final:active,
.node--editable.node--start.node--final.node--selected {
  background-position: -88px -132px;
}

/*
 * The node's "mnemonic" input box.
 */
.node__mnemonic-input {
  outline: none;
  border: none;
  border-bottom: 1px solid transparent;
  background-color: transparent;

  width: 2.6em;
  text-align: center;
  color: var(--base-md);
  font-family: var(--code-font);
  font-size: 10pt;

  transition: color 0.2s, border 0.2s, background-color 0.2s;
}

.node__mnemonic-input--editable:hover,
.node__mnemonic-input--editable:focus {
  border-bottom: 1px solid var(--primary-md);
  color: var(--base-dk);
}

.node__mnemonic-input--editable:focus {
  background-color: var(--primary-lt);
}
